:root {
    --yellow: #FFE401;
    --dark-gray: #272727;
    --gray: #EEE;
    --red: #F22424;
    --green: #0AB945;
}

.navbar {
    background-color: var(--gray);
}

.nav-link a {
    color: var(--dark-gray);
}

.navbar-brand {
    color: var(--dark-gray);
}

.login a {
    color: var(--green);
}

.logout a {
    color: var(--gray);
}
