<AuthorizeView>
    <NotAuthorized>
        <div class="d-flex align-items-center alert alert-danger" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
            <div>
                <p>You are not <strong>Authorized</strong>, sign in to view this page!</p>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code {

}
