@page "/"

<PageTitle>Spendit</PageTitle>
<div class="container-sm">
    <div class="row">
        <div class="col-12 ms-5 me-5 mt-5 mb-5">
            <h2 class="text-center">Discover what's so special about Spendit</h2>
            <AuthorizeView>
                <Authorized>
                    <h2>Hello @context.User.Identity.Name</h2>
                </Authorized>
                <NotAuthorized>
                    <h2>Zdarova randomas :D</h2>
                </NotAuthorized>
            </AuthorizeView>
            <div class="row pt-5 justify-content-center align-items-center">
                <div class="card landing-card mt-5 mb-5 " style="border-style:none; max-width:50vw;">
                    <div class="row g-0 align-items-center mt-5 mb-5">
                        <div class="col-md-8">
                            <img src="https://images.ctfassets.net/tmqu5vj33f7w/39ObJjvpYoQiRARWw4Ezqy/d25e47c658f9d3b12e87e05b892d61aa/Transactions-intro.jpg"
                                 class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-4">
                            <div class="card-body ">
                                <h4 class="card-title">Track your money</h4>
                                <p class="card-text">Keep track of all your income and expenses in one place.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 justify-content-center align-items-center">
                <div class="card landing-card mt-5 mb-5" style="border-style:none; max-width:50vw;">
                    <div class="row g-0 align-items-center mt-5 mb-5">
                        <div class="col-md-4">
                            <div class="card-body ">
                                <h4 class="card-title">Track your money</h4>
                                <p class="card-text">Keep track of all your income and expenses in one place.</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <img src="https://images.ctfassets.net/tmqu5vj33f7w/39ObJjvpYoQiRARWw4Ezqy/d25e47c658f9d3b12e87e05b892d61aa/Transactions-intro.jpg"
                                 class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

