:root {
    --yellow: #FFE401;
    --dark-gray: #272727;
    --gray: #EEE;
    --red: #FF652F;
    --green: #0AB945;
}
a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    background-color: var(--gray);
}

.landing-card {
    background-color: var(--gray) !important;
}

