@inherits LayoutComponentBase
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">
                <img src="images/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Spendit
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <a class="" aria-hidden="true">About</a>
                </NavLink>
                <NavLink class="nav-link" href="">
                    <a class="" aria-hidden="true">Home</a>
                </NavLink>
                <NavLink class="nav-link" href="settings">
                    <a class="" aria-hidden="true">Settings</a>
                </NavLink>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
