@inherits LayoutComponentBase
@using WebApp.Auth
@attribute [Authorize]

<nav class="navbar sticky-top navbar-expand-lg shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="images/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Spendit
        </a>
        <AuthorizeView>
            <Authorized>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="overview" ActiveClass="active">
                                <i class="fa-solid fa-house"></i> Overview
                            </NavLink>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-file-invoice-dollar"></i> Transactions
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <NavLink class="nav-link" href="transactions" ActiveClass="active">
                                        <i class="fa-solid fa-file-invoice-dollar"></i> Transactions
                                    </NavLink>
                                </li>
                                <li class="dropdown-item">
                                    <NavLink class="nav-link" href="recurring-transactions" ActiveClass="active">
                                        <i class="fa-solid fa-repeat"></i> Recurring transactions
                                    </NavLink>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="budgets" ActiveClass="active">
                                <i class="fa-solid fa-book"></i> Budgets
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="insights" ActiveClass="active">
                                <i class="fa-solid fa-file-lines"></i> Insights
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="goals" ActiveClass="active">
                                <i class="fa-solid fa-piggy-bank"></i> Goals
                            </NavLink>
                        </li>
                    </ul>
                </div>
                <li class="navbar-nav nav-item me-5 mb-2 mb-lg-0">
                    <NavLink class="nav-link" href="settings" ActiveClass="active">
                        <i class="fa-solid fa-gear"></i> Settings
                    </NavLink>
                </li>
                <AuthBtn />
            </Authorized>
            <NotAuthorized>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <li class="navbar-nav nav-item mb-2 mb-lg-0">
                    <AuthBtn />
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code {
}
