$yellow: #FFE401;
$dark-gray: #272727;
$gray: #eee;
$blue: #0f89df;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #fb002e;
$orange: #fd7e14;
$yellow: #f0cc00;
$green: #00b552;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;

$xxl-screen: 1400px;
$xl-screen: 1200px;
$lg-screen: 992px;
$md-screen: 768px;
$sm-screen: 576px;
$xs-screen: 360px;

@import "../bootstrap/scss/bootstrap.scss";

.swal2-styled.swal2-confirm {
    background-color: $green !important;
    border-radius: 50rem !important;
}

.swal2-styled.swal2-cancel {
    background-color: $red !important;
    border-radius: 50rem !important;
}

.swal2-popup {
    border-radius: 1rem !important;
}

.swal2-icon.swal2-warning {
    color: $yellow !important;
    border-color: $yellow !important;
}

.swal2-icon.swal2-error {
    color: $red !important;
    border-color: $red !important;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    background-color: $red !important;
}

.swal2-top-right {
    padding-top: 5rem !important;
}

.swal2-top-end {
    padding-top: 5rem !important;
}

.swal2-popup {
    @media (min-width: $xxl-screen) {
        width: 30% !important;
    }

    @media (min-width: $xl-screen) and (max-width: $xxl-screen - 1px) {
        width: 40% !important;
    }

    @media (min-width: $lg-screen) and (max-width: $xl-screen - 1px) {
        width: 50% !important;
    }

    @media (min-width: $md-screen) and (max-width: $lg-screen - 1px) {
        width: 65% !important;
    }

    @media (min-width: $sm-screen) and (max-width: $md-screen - 1px) {
        width: 75% !important;
    }

    @media (min-width: $xs-screen) and (max-width: $sm-screen - 1px) {
        width: 96% !important;
    }
}

.swal2-toast{
    width: 20rem !important;
}

.custom-filer-divider {
    @media (min-width: $md-screen) {
        max-width: 5px !important;
    }

    @media (max-width: $sm-screen) {
        max-width: 200px !important;
    }
}

body {
    background-color: #d5e1ea;
}

.bg-body {
    border-radius: 0.5rem !important;
}

.bg-light {
    border-radius: 0.5rem !important;
}

a {
    text-decoration: none !important;
}

.navbar {
    background-color: $white;

    .nav-link a {
        color: $dark-gray;
    }

    .navbar-brand {
        color: $dark-gray;
    }
}

.createAccount {
    color: dodgerblue !important;
    vertical-align: middle;
}

.wrapper {

    .label {
        font-size: .625rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: +1.3px;
        margin-bottom: 1rem;
    }

    .searchBar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #searchQueryInput {
        width: 100%;
        height: 2.8rem;
        background: $gray-200;
        outline: none;
        border: none;
        border-radius: 1.625rem;
        padding: 0 3.5rem 0 1.5rem;
        font-size: 1rem;
    }

    #searchQuerySubmit {
        width: 3.5rem;
        height: 2.8rem;
        margin-left: -3.5rem;
        background: none;
        border: none;
        outline: none;
    }

    #searchQuerySubmit:hover {
        cursor: pointer;
    }
}

.custom-border-info {
    border-top: 5px solid $info !important;
    border-radius: 15px !important; /* sets a curved border to the bottom-left and bottom-right corners */
    overflow: hidden !important; /* clips the content that overflows the curved border */
}

.custom-border-ok {
    border-top: 5px solid $success !important;
    border-radius: 15px !important; /* sets a curved border to the bottom-left and bottom-right corners */
    overflow: hidden !important; /* clips the content that overflows the curved border */
}

.custom-border-warning {
    border-top: 5px solid $danger !important;
    border-radius: 15px !important; /* sets a curved border to the bottom-left and bottom-right corners */
    overflow: hidden !important; /* clips the content that overflows the curved border */
}

.custom-border-start-ok {
    border-left: 6px solid $success !important;
    border-radius: 15px !important; /* sets a curved border to the bottom-left and bottom-right corners */
    overflow: hidden !important; /* clips the content that overflows the curved border */
}

.custom-border-start-warning {
    border-left: 6px solid $danger !important;
    border-radius: 15px !important; /* sets a curved border to the bottom-left and bottom-right corners */
    overflow: hidden !important; /* clips the content that overflows the curved border */
}

.fa-15x{
    font-size: 1.5rem !important;
}
